@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


.type-text{
    width: 100%;
    border: none;
    margin-top: 10px;
    font-size: 15px;

    font-family: "Lato";
    outline: none;
    resize: none;
    height: 50px;
}

.add-btn{
    background-color: #2d3748;
    color: white;
}